#saha {
  width: 1900px;
  height: 600px;
  background-image: url(../images/backgrounds/saha.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.futbolcular {
  width: 200px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 10px;
  position: relative;
  top: 300px;
  left: 300px;
  display: flex;
  text-align: center;
}
.futbolcular img {
  width: 60px;
  margin-right: 10px;
}

h1 {
  font-size: 50px;
  color: yellow;
  display: inline-block;
  width: 99%;

  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  text-align: center;
}
